doctype html
html
    head
        link(rel="icon", href="../ICON/dibujo.png")
        link(rel="stylesheet" href="./style.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DinoAPI
    body 
        form(action="/dinos" method="post" class="registro") 
            h4 Registro de Dinosaurio
            input(type="text" class="control" id="" 
            name="name" placeholder="Ingrese Nombre")
        
            input(type="text" class="control" id="" 
            name="habitat" placeholder="Ingrese Habitad")
        
            input(type="text" class="control" id="" 
            name="historicalPeriod" placeholder="Ingrese Periodo")
            
            input(type="text" class="control" id="" 
            name="sizeAndWeight" placeholder="Ingrese Tamaño y peso")

            input(type="text" class="control" id="" 
            name="diet" placeholder="Ingrese Dieta") 
            
            input(type="text" class="control" id="" 
            name="characteristics" placeholder="Ingrese Caracteristicas")
            
            textarea(class="control" name="description" 
            id="" cols="60" rows="10" placeholder="Ingrese Descripción")
    
            input(type="text" class="control" id="" 
            name="image" placeholder="Seleccione Imagen")
            
            input(class="boton" type="submit" value="Registrar")